@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Arima:wght@100..700&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(180deg,
            rgba(251, 205, 49, 1) 0%,
            rgba(249, 195, 40, 1) 51%,
            rgb(255, 177, 22) 100%);
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 120px;
}

.navbar ul li {
    position: relative;
    float: left;
}

.navbar ul li a {
    font-size: 25px;
    padding: 40px;
    color: #000000;
    display: block;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: #E06927;
}

.socials-1 img {
    width: 30px;
    margin-right: 15px;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    padding: 100px 0;
    display: flex;
    align-items: center;
}

.header-txt {
    width: 50%;
    padding-right: 100px;
}

.header-txt h1 {
    font-size: 140px;
    line-height: 150px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

p {
    font-size: 20px;
    color: #424242;
    margin-bottom: 35px;
}

.btn-1 {
    display: inline-block;
    padding: 13px 30px;
    background-color: #F55442;
    color: #FFFFFF;
    border-radius: 25px;
    font-size: 18px;
}

.btn-1:hover {
    background-color: #E56820;
}

.header-img {
    width: 50%;
    text-align: center;
}

.header-img video {
    border: none;
    /* Elimina el borde predeterminado */
    outline: none;
    /* Elimina el contorno */
    box-shadow: none;
    /* Elimina cualquier sombra */
    border-radius: 45px;
    /* Da un borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 100);
}

.header-img img {
    width: 550px;
}

.about {
    padding: 100px 0;
    background-color: #efefee;
}

.about-content {
    display: flex;
    position: relative;
}

.ab1 {
    position: absolute;
    width: 50px;
    left: 0;
    top: 0;
    rotate: 220deg;
}

.ab2 {
    position: absolute;
    width: 50px;
    left: 750px;
    top: 450px;
    rotate: 380deg;

}

.ab3 {
    position: absolute;
    width: 150px;
    right: 0;
}

.about-img {
    width: 50%;
    text-align: center;

}

.about-img img {
    width: 50%;
    padding-top: 100px;
}


.about-txt {
    width: 50%;
    font-size: 20px;
}

h2 {
    font-size: 80px;
    line-height: 90px;
    color: #3F3F3F;
    margin-bottom: 25px;
}

.btn-2 {
    display: inline-block;
    padding: 13px 45px;
    font-size: 18px;
    background-color: #E56820;
    color: #FFFFFF;
    border-radius: 25px;
    border: 0;
    font-family: "Bebas Neue", cursive;
    cursor: pointer;
}

.btn-2:hover {
    background-color: #F55442;
}

.information {
    padding: 100px 400px 400px 400px;
    text-align: center;
    background-color: #FBFBFB;
}

.information-content {
    position: relative;
}

.in1 {
    position: absolute;
    width: 50px;
    left: 0;
    right: 0;
    rotate: 220deg;
}

.in2 {
    position: absolute;
    width: 50px;
    left: 0;
    right: 0;
    rotate: 40deg;
}

.in3 {
    position: absolute;
    width: 250px;
    left: 0;
    right: 230px;
    rotate: 220deg;
}

.contact {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contant-table {
    padding: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 700px;
    margin-top: -400px;
}

.contant-table span {
    font-size: 40px;
    color: #AA7D53;
}

.contant-table h3 {
    font-size: 60px;
    color: #3F3F3F;
    margin-bottom: 25px;
}

.Residuos {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.Residuos tr,
.Residuos th,
.Residuos td {
    border: 1px solid #DDDDDD;
    padding: 8px;
}

.Residuos tr:nth-child(even) {
    background-color: #DDDDDD;
}

.Residuos tr:hover {
    background-color: #f0f0f0;
}

.Residuos th {
    padding: 12px 0;
    background-color: #f2f2f2;
}

form {
    display: flex;
}

.campo {
    padding: 17px 35px;
    background-color: #f7f7f7;
    border-radius: 25px;
    margin-right: 15px;
    border: 1px solid #E8E8E8;
    outline: none;
    color: #3F3F3F;
}

.campo::placeholder {
    color: #A3A3A3;
}

.form-content {
    padding: 100px 0 70px 0;
    text-align: center;
}

.form-content h2 {
    font-size: 50px;
    color: #3F3F3F;
    margin-bottom: 25px;
}

.footer {
    border-top: 2px solid #E8E8E8;
    padding: 50px 0 0 0;

}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.link-img {
    text-align: center;
}

.link-img img {
    width: 70px;
    margin-bottom: 10px;
}

.socials-2 img{
    width: 30px;
    margin: 10px;
}

.link h3{
    font-size: 20px;
    color:#3F3F3F;
    margin-bottom: 15px;
}
.link a {
    font-size: 18px;
    display: block;
    color: #3F3F3F;
    margin-bottom: 20p;
}
.link a:hover{
    color: #E06927;
}

.footer-copy {
padding: 25px 0;
text-align: center;
border-top: 1px solid #E8E8E8;
}
.footer-copy p {
color: #7c7c7c;
font-size: 16;
margin: 0;
}


.recilaje {
    background-color: #4CAF50 !important; 
    color: white !important; 
    border: none !important; 
    padding: 12px 24px !important; 
    text-align: center !important; 
    font-size: 16px !important; 
    font-weight: bold !important; 
    text-transform: uppercase !important; 
    border-radius: 8px !important; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2) !important; 
    cursor: pointer !important; 
    transition: all 0.3s ease !important;
}


.recilaje:hover {
    background-color: #45A049; 
    transform: scale(1.05); 
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); 
}


.recilaje:active {
    background-color: #3e8e41;
    transform: scale(0.98); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


.recilaje:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5);
}

.carrusel {
    width: 100%;
    overflow: hidden;  /* Oculta las imágenes fuera del área visible */
    position: relative;
}

.imagenes {
    display: flex; /* Coloca las imágenes en línea */
    transition: transform 1s ease-in-out; /* Añade una transición suave */
}

.imagenes img {
    width: 100%;  /* Ajusta el tamaño de las imágenes */
    max-width: 100%;
    display: block; /* Elimina el espacio en blanco debajo de las imágenes */
}

/* Estilo para el contenedor de la imagen */
img {
    width: 100%;
    height: auto;
}



@media(max-width:991px) {
    .menu{
        top: 0;
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .socials-1{
        display: none;
    }
    .menu.navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #3F3F3F;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;

    }
    .menu .navbar ul li a{
        color: #FFFFFF;
        
    }
   #menu:checked ~ .navbar{
    display: initial;
   } 
.header{
    min-width: 0vh;
}
.header-content{
    padding: 130px 30px 80px 30px;
    flex-direction: column;
}
.header-txt{
    width: 100%;
    padding-right: 0;
    text-align: center;
    margin-bottom: 15px;
}
.header-txt{
    font-size: 90px;
    line-height: 100px;
}
.header-img{
    width: 100%;
    
}
.header-img img{
    width: 250px;
}
.about{
    padding: 30px;
}
.about-content{
    flex-direction: column;
}
.ab1, .ab2, .ab3{
    display: none;
}
.about-img{
    width: 100%;
    order: 2;
}
.about-img img{
    width: 250px;

}

.about-txt{
    width: 100%;
    text-align: center;
}
h2{
    font-size: 70px;
    line-height: 80px;
}

.information{
    padding: 30px 30px 100px 30px;
}
.in1, .in2 , .in3 {
    display: none;
}

.contact {
    padding: 30px;
}
.contant-table{
    width: 100%;
    margin-top: -120px;
}

.form-content{
    padding: 30px;
}

form{
    flex-direction: column;
}
.campo{
    margin-bottom: 20px;
}
.footer{
    padding: 30px 30px 0 30px;
}
.footer-links{
    flex-direction: column;
    text-align: center;
}
.link-img{
    margin-bottom: 15px;
}


}